<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UpdaterAPI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <UpdaterAPI.Properties.Settings>
            <setting name="LocalDomain" serializeAs="String">
                <value>\\share3</value>
            </setting>
            <setting name="LocalDomainIP" serializeAs="String">
                <value>10.32.16.102</value>
            </setting>
            <setting name="LocalDomainPort" serializeAs="String">
                <value>22</value>
            </setting>
            <setting name="RootFolderName" serializeAs="String">
                <value>\Updater</value>
            </setting>
            <setting name="PathToUpdateFilesFolder" serializeAs="String">
                <value>\Updater\ActCreator</value>
            </setting>
            <setting name="UpdaterFilesFolderName" serializeAs="String">
                <value>updater-files</value>
            </setting>
            <setting name="VerifiedFileName" serializeAs="String">
                <value>version.verified</value>
            </setting>
            <setting name="UpdateTextFileName" serializeAs="String">
                <value>updatetext.txt</value>
            </setting>
            <setting name="ApiListFileName" serializeAs="String">
                <value>apilist.txt</value>
            </setting>
            <setting name="ProgramName" serializeAs="String">
                <value>ActCreator.exe</value>
            </setting>
            <setting name="UpdaterProgramName" serializeAs="String">
                <value>Updater.exe</value>
            </setting>
            <setting name="LogsFolderName" serializeAs="String">
                <value>logs</value>
            </setting>
            <setting name="LogsFileName" serializeAs="String">
                <value>updatelog.html</value>
            </setting>
            <setting name="ConnectionType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UpdaterLogin" serializeAs="String">
                <value>HOGEditor</value>
            </setting>
            <setting name="UpdaterPassword" serializeAs="String">
                <value>hoged123</value>
            </setting>
            <setting name="SftpHost" serializeAs="String">
                <value>31.129.90.98</value>
            </setting>
            <setting name="SftpPort" serializeAs="String">
                <value>7871</value>
            </setting>
        </UpdaterAPI.Properties.Settings>
    </applicationSettings>
</configuration>